h1 {
  background-color: #c90d0d;
  text-align: center;
  font-family: 'Creepster', cursive;
  font-size: 80px;
  letter-spacing: 12px;
}

p {
  text-align: center;
  font-weight: bold;
}

.cappa {
  text-align: center;
}

